.Loader {
    border: 14px solid black; /* Light grey */
    border-top: 14px solid #ffda00; /* Blue */
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}