.ProfileHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.Name {
  font-size: 1.5em;
  cursor: pointer;
}

.Name:hover {
  color: #ffda00;
}

.SignOut {
  border: 2px solid white;
  border-radius: 100px;
  padding: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.SignOut:hover {
  color:#ffda00;
  border-color: #ffda00;
}